// 布局类
.fl {
  float: left;
}
.fr {
  float: right;
}
.relative{
  position: relative;
}
.flex{
  display: flex;
}
.in-flex {
  display: inline-flex;
}
.ai-c{
  align-items: center;
}


// 背景颜色类
.bg-white{
  background-color: #fff;
}

// 字体颜色类
.text-white{
  color: #fff;
}
.text-green{
  color: #2bc17b;
}
.text-orange{
  color: #fbad4a;
}

.ta-r{
  text-align: right;
}

// 字体大小类
.fs14{
  font-size: 14px;
}
.fs16{
  font-size: 16px;
}

/* 边距 */
.ml10{
  margin-left: 10px;
}
.ml30{
  margin-left: 30px;
}
.mr5{
  margin-right: 5px;
}
.mr10{
  margin-right: 10px;
}
.mr30{
  margin-right: 30px;
}
.mb5{
  margin-bottom: 5px;
}
.w-100{
  width: 100%;
}

.cur-p{
  cursor: pointer;
}