// 布局类
.fl {
  float: left;
}
.fr {
  float: right;
}
.relative{
  position: relative;
}
.flex{
  display: flex;
}
.in-flex {
  display: inline-flex;
}
.ai-c{
  align-items: center;
}


// 背景颜色类
.bg-white{
  background-color: #fff;
}

// 字体颜色类
.text-white{
  color: #fff;
}

/* 边距 */
.ml10{
  margin-left: 10px;
}
.mr5{
  margin-right: 5px;
}
.mr10{
  margin-right: 10px;
}
.mr30{
  margin-right: 30px;
}
.w-100{
  width: 100%;
}