.p-home{
  .home-title{
    font-size: 16px;
    font-weight: 700;
  }
  .mb16{
    margin-bottom: 16px;
  }
  .ant-card{
    border-radius: 5px;
  }
  .w80{
    width: 80px;
  }
  .mr10{
    margin-left: 10px;
  }
  .home-over{
    .ant-card{
      cursor: pointer;
      color: #fff;
      font-size: 14px;
      &:hover{
        transform: scale(1.05, 1.05);// 放大效果
      }
      &.sale{
        background: url('../../../imgs/home/banner-bg.png') center no-repeat, linear-gradient(to bottom right, #61dcc0, #45ccc6);
        background-size: cover;
      }
      &.user{
        background: url('../../../imgs/home/banner-bg.png') center no-repeat, linear-gradient(to bottom right, #d16bbe, #c36bd1);
        background-size: cover;
      }
      &.order{
        background: url('../../../imgs/home/banner-bg.png') center no-repeat, linear-gradient(to bottom right, #f9ae6f, #fb8f61);
        background-size: cover;
      }
      &.video{
        background: url('../../../imgs/home/banner-bg.png') center no-repeat, linear-gradient(to bottom right, #f98576, #fc6a6b);
        background-size: cover;
      }
    }
    .icon{
      color: rgba(255, 255, 255, .7);
      font-size: 80px;
    }
  }
  .color-gray{
    color: #828282;
  }
  .line-title{
    .fs14{
      font-size: 14px;
    }
  }
  .line-charts{
    height: 400px;
  }
  .video-chart{
    height: 200px;
  }
  .payment-charts{
    height: 300px;
  }
  // 活跃用户头像
  .active-user{
    ul{
      margin: 0;
    }
    .avatar{
      width: 50px;
      height: 50px;
      border-radius: 5px;
    }
    .level{
      flex-grow: 1;
      margin-left: 10px;
      font-size: 14px;
      .username{
        position: relative;
        bottom: -7px;
        .vip{
          position: absolute;
          right: 35px;
        }
      }
      .time{
        position: relative;
        top: -5px;
      }
    }
  }
  // 热门课程
  .hot-course{
    ul{
      margin: 0;
    }
    li{
      background-color: #f5f5f5;
      border-radius: 5px;
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    .course-img{
      width: 80px;
      height: 80px;
    }
    .course-des{
      flex-grow: 1;
      margin-left: 10px;
    }
  }
}